body {
    background: rgb(78, 78, 134);
    text-align: center;
}
footer {
    text-align: right;
}
#divleft {
    float: left;
}
.caps {
    text-transform: capitalize !important;
}
#add {
    background-color: rgb(17, 115, 128);
    border: solid;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.italics {
    font-style: italic;
}
#tasks {
    background: rgb(17, 115, 128);
    border-style: solid;
    padding: 1%;
}